/* Pen-specific styles */
html { 
  height: 100%;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

/* Pattern styles */
body {
  height: 200%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: fit-content(8rem) auto fit-content(8rem);
}

#header {
    width: 100%;
    background: #ffcc00;
    grid-area: header;
    padding: 1.5% 2%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#header a {
  display: inline-block;
  padding-right: 1.5%;
}

#body-container {
    background: linear-gradient(
    to right, 
    #ffecb3 0%, 
    #ffecb3 50%, 
    #FFFFFF 50%, 
    #FFFFFF 100%
  );
   grid-area: main;
   display: inline-block;

}

#pic-container-1 {
   margin-top: 14%;
   margin-bottom: 5%;
   margin-right: 5%;
   margin-left: 30%;
   position: absolute;
   float: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 140%;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffcc00;
}

#pic-container-1 .card img {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 55%;
}

#pic-container-1 .card .nametag {
  font-family: Marker Felt, fantasy;
  font-size: 180%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.hrz {
  border: 1px solid black;
  width: 20%;
}

.work-title {
  font-family: Courier New, Courier, monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 120%;
  margin: 10%;
}

#social-media-buttons {
  margin-bottom: 5%;
}

#social-media-buttons a {
  color: black;
}

#social-media-buttons a:hover {
  color: white;
}

#text-container-1 {
   padding-top: 12%;
   padding-bottom: 5%;
   padding-right: 5%;
   padding-left: 65%;
}

#text-container-1 p {
  color: black;
}

#hello {
 font-size: 600%;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 padding: 0;
 margin: 0;
}

#whoIam {
  font-size: 120%;
  margin-bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
    width: 100%;
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.2);
    background: #ffcc00;
    grid-area: footer;
    margin-top: 5%;
    text-align: center;
    padding: 1.5% 2%;
}

#footer p {
  margin-bottom: 0px;
}

.button {
  background-color: white;
  border-radius:17px;
  border:1px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:1% 9%;
  margin-right: 3%;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  margin-bottom: 10%;
}

.button1 {
  background-color: #4CAF50; 
  color: black; 
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: #008CBA; 
  color: black; 
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

#intro-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
}