/* Pen-specific styles */
html, body { 
  color: #fff;
  height: 100%;
}

/* Pattern styles */
#container {
  background: linear-gradient(
    to right, 
    #ffecb3 0%, 
    #ffecb3 50%, 
    #FFFFFF 50%, 
    #FFFFFF 100%
  );
  height: 100%;
  width: 100%;
  position: relative;
}

#header {
    height: 10%;
    width: 100%;
    background: #ffcc00;
    top: 0;
    position: absolute;
}

#header a {
  display: inline-block;
  padding: 1.5% 2%;
}

#body-container {
  display: grid;
  
}

#text-container-1 {
 padding-top: 10px;
 z-index: 1000;
 float: right;
}

#text-container-1 p {
  color: black;
}

#footer {
    height: 10%;
    width: 100%;
    background: #ffcc00;
    position: absolute;
    bottom: 0;
}
